html { 
    min-height: 100%;
    background-size: cover;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    }
    
    #logo{
        margin: 2% auto;
        padding: 20px 0px;
        font-size: 3.5em;
        font-weight: 500;
        text-align: center;
    }

    #landing {
        text-align: center;
    }
    
    h1 { 
        font-family: 'Ubuntu', sans-serif; 
        font-weight:400; 
        color: white;
        font-size: 3em;
    }

    h1 strong {
        font-weight:700;
        color: #339966;  
    }

    h3 { 
        font-family: 'Ubuntu', sans-serif; 
        font-weight:500; 
        color: white;
        font-size: 2em; 
        line-height: 2.2em;  
    }
    
    h4 { 
        font-family: 'Ubuntu', sans-serif; 
        font-weight:500; 
        color: white;
        font-size: 1.3em; 
        line-height: 1.5em;
        margin-bottom: 8px;
    }

    p{
        font-family: 'Ubuntu', sans-serif;
        font-weight:400;
        color: white;
        font-size: 14px; 
        line-height: 16px;
        font-style: italic;
        margin-left: 20px;
        margin-right: 20px;
        
    }

    p a, a:link, a, a:active, a:visited {
        color: #339966;
        text-decoration: none;
    }

    a:hover {
        color: #36780f; 
    }

    .row {
        margin: 10px 0 10px 0;
    }
    
    input#name, input#phone{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        border-radius:6px;
        margin: 2%;
    }

    input#name, input#phone{
        text-align: center;
        margin: 0 auto;
        width: 80%;
        min-width: 250px;
        font-size: 1.2em;
        line-height: 1.4em;
        vertical-align: center;
    }

    
    .submit_btn{
        border:0px solid #f4f4f4;
        cursor:pointer;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700; 
        font-size: 1.2em;
        height: 36px;
        width: 80%;
        min-width: 262px;

        background-color: #4ba614; 
        background-image: -webkit-gradient(linear, left top, left bottom, from(#339966), to(#008c00));
        background-image: -webkit-linear-gradient(top, #339966, #008c00);
        background-image: -moz-linear-gradient(top, #339966, #008c00);
        background-image: -ms-linear-gradient(top, #339966, #008c00);
        background-image: -o-linear-gradient(top, #339966, #008c00);
        background-image: linear-gradient(to bottom, #339966, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#339966, endColorstr=#008c00);
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    }
    
    .submit_btn:hover {
        background-color: #36780f; 
        background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
        background-image: -webkit-linear-gradient(top, #36780f, #005900);
        background-image: -moz-linear-gradient(top, #36780f, #005900);
        background-image: -ms-linear-gradient(top, #36780f, #005900);
        background-image: -o-linear-gradient(top, #36780f, #005900);
        background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
        
                            -webkit-transition: background-image .5s ease-in;
            -moz-transition: background-iamge .5s ease-in;
            -o-transition: background-image .5s ease-in;
        transition: background-image .5s ease-in;
    }
    
    form, fieldset {
        margin: 0;
    }

    .shading{
        background: rgba(0, 0, 0, .5);
        margin: 0 auto 10px;
        padding: 5px 0;
        display: block;
    }

    input[value="1"] {
        margin-left: 0px;
    }
    
    #signup {
        width: 50%;
        min-width: 276px;
        margin: 15px auto;
        text-align: center;
    }

    .note {
        color: #ff0000;
        line-height: 1em;
        margin: 5px auto;
    }

    .bottom {
        Width: 100%;
        Height: 20px;
        margin-top: 30px;
        padding: 20px 0;
        display: block;
        
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: .8em;
        text-align: center;
        font-style: italic;
    }

    .success{
        background: #CFFFF5;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #B9ECCE;
        border-radius: 5px;
        font-weight: normal;
    }
    
    .error{
        background: #FFDFDF;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #FFCACA;
        border-radius: 5px;
        font-weight: normal;
    }


.bottom h3 {
    padding: 30px 0px;
}